Package: init-diversity-tools
Version: 0.0.5.0~mx25
Architecture: all
Maintainer: ProwlerGr <Prowler73@gmail.com>
Installed-Size: 105
Depends: busybox | busybox-static
Recommends: sysvinit-init-diversity, s6-rc-init-diversity, s6-66-init-diversity, openrc-init-diversity, dinit-init-diversity, runit-init-diversity, systemd-init-diversity
Suggests: grub-init-diversity
Replaces: dinit-init, dinit-init-antix, openrc, openrc-init, runit-init, runit-init-antix, s6-66-init, s6-rc-init, systemd, systemd-sysv, sysv-rc, sysvinit-core
Section: init-diversity
Priority: optional
Description: A collection of software that can configure antiX or any Debian based system to use multiple inits.
 This package contains wrapper scripts to detect init systems and control the rc/rcS/reboot/shutdown/poweroff
 functions under various inits.
